<div style="margin-top: 80px; margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Общие сведения</h2>

        <table class="table main-table" style="width: 100%; text-align: left;">
            <thead>
                <tr>
                    <td>Мобильный номер потребителя</td>
                    <td>Мобильный номер платильщика</td>
                    <td>ИНН</td>
                    <td>Логин пользователя</td>
                    <td>Время изменения</td>
                </tr>
            </thead>
            {% for elem in object.version_history %}
                <tr>
                <td>{{ elem.student_phone_no }}</td>
                <td>{{ elem.payer_phone_no }}</td>
                <td>{{ elem.payer_inn_no }}</td>
                <td>{{ elem.change_user }}</td>
                <td>{{ elem.change_timestamp }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>


    <div style="margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Данные потребителя</h2>
        {{ object.student_document.version_history_html_table }}
    </div>


    <div style="margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Место проживания потребителя</h2>
        {{ object.student_address.version_history_html_table }}
    </div>

    <div style="margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Данные плательщика</h2>
        {{ object.payer_document.version_history_html_table }}
    </div>


    <div style="margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Место проживания платильщика</h2>
        {{ object.student_address.version_history_html_table }}
    </div>

<table class="table main-table" style="width: 100%">
        <thead>
            <tr>
                <td>Оплаты</td>
                <td style="width: 40px;"><button onclick="toggleInfoTab('contract_payment_version', 0)" style="background-color: white; color: #3b5998">
                        <span id="contract_payment_version_row_more_info_button_span_0" class="glyphicon glyphicon-arrow-down" ></span>
                    </button></td>
            </tr>
        </thead>

            <tr id="contract_payment_version_row_more_info_0" hidden="true">
            <td colspan="2">
                <div>
                    <h3 style="color: black">Действующие</h3>
                    {% for payment in object.contractpayment_set.all %}
                    {% if not payment.deleted %}
                        <table class="table main-table" style="width: 100%; text-align: left;">
            <thead>
                <tr>
                    <td>Дата оплаты</td>
                    <td>Размер оплаты</td>
                    <td>Тип оплаты</td>
                    <td>Номер квитанции</td>
                    <td>Логин пользователя</td>
                    <td>Время изменения</td>
                </tr>
            </thead>
            {% for elem in payment.version_history %}

                    <tr>
                        <td>{{ elem.payment_dt }}</td>
                        <td>{{ elem.payment_amt }}</td>
                        <td>{{ elem.payment_type }}</td>
                        <td>{{ elem.voucher_no }}</td>
                        <td>{{ elem.change_user }}</td>
                        <td>{{ elem.change_timestamp }}</td>
                    </tr>

            {% endfor %}

        </table>
                        {% endif %}
                    {% endfor %}

                    <h3 style="color: black">Удаленные</h3>

                </div>
                </td>
            </tr>
    </table>