<table class="table main-table" style="width: 100%; text-align: left;">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td>Ф.И.О.</td>
                    <td>Тип документа</td>
                    <td>Кем выдан</td>
                    <td>Код подразделения</td>
                    <td>Дата выдачи</td>
                    <td>Номер документа</td>
                    <td>Серия документа</td>
                    <td>Логин пользователя</td>
                    <td>Время изменения</td>
                </tr>
            </thead>

            <tr>
                <td>Андреев А.А.</td>
                <td>Пасспорт РФ</td>
                <td>Кем-то</td>
                <td>2342</td>
                <td>29:02:2019</td>
                <td>32423566</td>
                <td>5469</td>
                <td>admin</td>
                <td>23:12 29:02:2019</td>
            </tr>
        </table>