body {
  background-color: whitesmoke;
}

.circle {
    width: 46px;
    height: 46px;
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    border-radius: 50%;
    background: #596E98;
}


.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #3b5998;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar-element:hover,
.exit-button:hover{
    background: #8b9dc3;
}


.window-content {
    margin-left: 60px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    z-index: 6;
}

.login-info {
    padding-left: 6px;

    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
    display: block;
}

.login-info div {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 30px;
}

.exit-button{
    padding-bottom: 10px;
    border-bottom: 3px solid wheat;
}

.portfolio_element {
    margin-top: 10px;
    padding: 8px 5px 8px 14px;
    text-decoration: none;
    font-size: 22px;
    color: whitesmoke;
    display: block;
}

/* The navigation menu links */
.sidebar a {
    padding-left: 12px;
    padding-top: 5px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
    display: block;
    z-index: 5;
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}


.hidden_panel {
    display: none;
    font-size: 20px;
    color: white;
    padding-left: 10px;
}


.for_menu_location {
    float: none;
}









/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}