<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Изменеия в договорах</title>
{% endblock %}

{% block content %}
    <h1 align="center">Изменения в договоре</h1>

    <div style="margin-top: 80px; margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Общие сведения</h2>

        <table class="table main-table" style="width: 100%; text-align: left;">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td>Мобильный номер потребителя</td>
                    <td>Мобильный номер платильщика</td>
                    <td>ИНН</td>
                    <td>Логин пользователя</td>
                    <td>Время изменения</td>
                </tr>
            </thead>
            {% for elem in common_contract_info %}
                <tr>
                <td>{{ elem.4 }}</td>
                <td>{{ elem.7 }}</td>
                <td>{{ elem.8 }}</td>
                <td>{{ elem.12 }}</td>
                <td>{{ elem.10 }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>


    <div style="margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Данные потребителя</h2>

        <table class="table main-table" style="width: 100%; text-align: left;">
            <thead>
                <tr>
                    <td>Фамилия</td>
                    <td>Имя</td>
                    <td>Отчество</td>
                    <td>Тип документа</td>
                    <td>Кем выдан</td>
                    <td>Код подр</td>
                    <td>Дата выдачи</td>
                    <td>Номер</td>
                    <td>Серия</td>
                    <td>Логин</td>
                    <td>Время изменения</td>
                </tr>
            </thead>
            {% for elem in student_passport_info %}
                <tr>
                    <td>{{ elem.0 }}</td>
                    <td>{{ elem.1 }}</td>
                    <td>{{ elem.2 }}</td>
                    <td>{{ elem.3 }}</td>
                    <td>{{ elem.4 }}</td>
                    <td>{{ elem.5 }}</td>
                    <td>{{ elem.6 }}</td>
                    <td>{{ elem.7 }}</td>
                    <td>{{ elem.8 }}</td>
                    <td>{{ elem.9 }}</td>
                    <td>{{ elem.10 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div style="margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Место проживания потребителя</h2>

        <table class="table main-table" style="width: 100%; text-align: left;">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td>Регион</td>
                    <td>Город</td>
                    <td>Улица</td>
                    <td>Номер дома</td>
                    <td>Номер строения</td>
                    <td>Номер корпуса</td>
                    <td>Номер квартиры</td>
                    <td>Логин пользователя</td>
                    <td>Время изменения</td>
                </tr>
            </thead>

            {% for elem in student_address_info %}
                <tr>
                    <td>{{ elem.0 }}</td>
                    <td>{{ elem.1 }}</td>
                    <td>{{ elem.2 }}</td>
                    <td>{{ elem.3 }}</td>
                    <td>{{ elem.4 }}</td>
                    <td>{{ elem.5 }}</td>
                    <td>{{ elem.6 }}</td>
                    <td>{{ elem.7 }}</td>
                    <td>{{ elem.8 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div style="margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Данные платильщика</h2>

        <table class="table main-table" style="width: 100%; text-align: left;">
            <thead>
                <tr>
                    <td>Фамилия</td>
                    <td>Имя</td>
                    <td>Отчество</td>
                    <td>Тип документа</td>
                    <td>Кем выдан</td>
                    <td>Код подразделения</td>
                    <td>Дата выдачи</td>
                    <td>Номер документа</td>
                    <td>Серия документа</td>
                    <td>Логин пользователя</td>
                    <td>Время изменения</td>
                </tr>
            </thead>

            {% for elem in payer_passport_info %}
                <tr>
                    <td>{{ elem.0 }}</td>
                    <td>{{ elem.1 }}</td>
                    <td>{{ elem.2 }}</td>
                    <td>{{ elem.3 }}</td>
                    <td>{{ elem.4 }}</td>
                    <td>{{ elem.5 }}</td>
                    <td>{{ elem.6 }}</td>
                    <td>{{ elem.7 }}</td>
                    <td>{{ elem.8 }}</td>
                    <td>{{ elem.9 }}</td>
                    <td>{{ elem.10 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div style="margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Место проживания платильщика</h2>

        <table class="table main-table" style="width: 100%; text-align: left;">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td>Регион</td>
                    <td>Город</td>
                    <td>Улица</td>
                    <td>Номер дома</td>
                    <td>Номер строения</td>
                    <td>Номер корпуса</td>
                    <td>Номер квартиры</td>
                    <td>Логин пользователя</td>
                    <td>Время изменения</td>
                </tr>
            </thead>

            {% for elem in payer_address_info %}
                <tr>
                    <td>{{ elem.0 }}</td>
                    <td>{{ elem.1 }}</td>
                    <td>{{ elem.2 }}</td>
                    <td>{{ elem.3 }}</td>
                    <td>{{ elem.4 }}</td>
                    <td>{{ elem.5 }}</td>
                    <td>{{ elem.6 }}</td>
                    <td>{{ elem.7 }}</td>
                    <td>{{ elem.8 }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
