<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Изменеия в личности</title>
{% endblock %}

{% block content %}
<h1 align="center">Изменения в личности</h1>
    <div style="margin-top: 80px; margin-bottom: 60px">
        <h2 style="color: darkblue; margin-bottom: 30px">Общие сведения</h2>

        <table class="table main-table" style="width: 100%; text-align: left;">
            <thead>
                <tr>
                    <td>Фамилия</td>
                    <td>Имя</td>
                    <td>Отсчество</td>
                    <td>Дата рождения</td>
                    <td>Изменил</td>
                    <td>Время изменения</td>
                </tr>
            </thead>
            {% for elem in person_info %}
                <tr>
                <td>{{ elem.1 }}</td>
                <td>{{ elem.2 }}</td>
                <td>{{ elem.3 }}</td>
                <td>{{ elem.4 }}</td>
                <td>{{ elem.5 }}</td>
                <td>{{ elem.7 }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

    {% if student_person_info %}
        <div style="margin-bottom: 60px">
            <h2 style="color: darkblue; margin-bottom: 30px">Данные студента</h2>

            <table class="table main-table" style="width: 100%; text-align: left;">
                <thead>
                    <tr>
                        <td>Начало обучения</td>
                        <td>Школа</td>
                        <td>Литер</td>
                        <td>Изменил</td>
                        <td>Время изменения</td>
                    </tr>
                </thead>
                {% for elem in student_person_info %}
                    <tr>
                        <td>{{ elem.1 }}</td>
                        <td>{{ elem.2 }}</td>
                        <td>{{ elem.3 }}</td>
                        <td>{{ elem.6 }}</td>
                        <td>{{ elem.5 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}


{% endblock %}