<table class="table main-table" style="width: calc(100% - 280px); float: left">
        <thead>
            <tr>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td style="width: 140px">Дата рождения</td>
                <td style="width: 10px;">SU</td>
                <td>Логин</td>
                <td style="width: 170px"></td>
            </tr>
        </thead>
        {% for object in object_set %}
            {% include 'models/auth_user_x_person/main.html' %}
        {% endfor %}
    </table>
<div class="static-right-block">
    <div class="filter-div">
        <form method="POST">
            <h3>Добавить</h3>
            {% csrf_token %}
            <input type="text" name="surname" placeholder="Фамилия"/>
            <input type="text" name="name" placeholder="Имя"/>
            <input type="text" name="father_name" placeholder="Отчество"/>
            День рождения:
            <input type="text" name="person.birth_dt__day" placeholder="ДД" style="width: 30px;"/>-
                <input type="text" name="person.birth_dt__month" placeholder="ММ" style="width: 32px;"/>-
                <input type="text" name="person.birth_dt__year" placeholder="ГГГГ" style="width: 44px;"/>
            <input type="text" name="username" placeholder="Логин"/>
            <input type="password" name="password" placeholder="Пароль"/>
            <input type="password" name="password_repeat" placeholder="Повторите пароль"/>
            <table style="">
                <tr>
                    <td><button type="submit"><span class="glyphicon glyphicon-plus"></span></button></td>
                    <td><button type="reset"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
            </table>
        </form>
    </div>
</div>