<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}

    <title>Настройки</title>
{% endblock %}

{% block content %}
    <h1>Настройки</h1>
    <br>
    <h2 style="color: black">Сведения о личности</h2>

    <table class="table main-table" id="first-table" style="width: 100%">
                    <thead>
                    <tr style="color: #f1f1f1">
                        <td> Фамилия </td>
                        <td> Имя </td>
                        <td> Отчество </td>
                        <td> Дата рождения </td>
                    </tr>
                    </thead>
                    <tr>
                        <td>{{ person.person_surname_txt }}</td>
                        <td>{{ person.person_name_txt }}</td>
                        <td>{{ person.person_father_name_txt }}</td>
                        <td>{{ person.birth_dt }}</td>
                    </tr>
                </table>

    <div style="width: 100%; background-color: var(--main-color); padding: 20px; color: white">
  Для изменения данных обращайтесь к администратору
</div>
<br>
    <h2 style="color: black">Отчеты о курсах</h2>
    {% for course_element, details_set in courses_info %}
        <h3 style="color: black;">{{ course_element.course.sphere_txt }} {{ course_element.course.name_txt }} {{ course_element.get_week_days_str }}</h3>
                    <table class="table main-table" style="width: 100%" id="course_detail_table_{{ course_element.pk }}">
                        <thead>
                            <tr>
                                <td>Дата</td>
                                <td>Начало</td>
                                <td>Конец</td>
                                <td style="width: 80px;"></td>
                            </tr>
                        </thead>
                        <tbody id="course_detail_table_body_{{ course_element.pk }}">
                        {% for i in details_set %}
                            {% with object=i %}
                                {% include 'models/course_class/main.html' %}
                            {% endwith %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr id="course_detail_add_row_{{ course_element.pk }}">
                                {% csrf_token %}
                                <input type="hidden" name="course_element_id" value="{{ course_element.pk }}">
                                <td><input type="text" name="class_dt_day" placeholder="ДД" style="width: 28px;"> -
                                <input type="text" name="class_dt_month" placeholder="ММ" style="width: 32px;"> -
                                <input type="text" name="class_dt_year" placeholder="ГГГГ" style="width: 48px;"></td>
{#                            <td><input type="date" name="class_dt"></td>#}
                                    <td><input type="text" name="start_tm_hour" placeholder="ЧЧ" style="width: 30px;"> : <input type="text" name="start_tm_minute" placeholder="ММ" style="width: 30px;"></td>
                                    <td><input type="text" name="end_tm_hour" placeholder="ЧЧ" style="width: 30px;"> : <input type="text" name="end_tm_minute" placeholder="ММ" style="width: 30px;"></td>
                                <td>
                                    <div class="buttons-table-horizontal default-buttons" style="width: 70px;">
                                    <button id="course_detail_add_button_{{ course_element.pk }}" onclick="addNewCourseClass({{ course_element.pk }})">
                                        <span class="glyphicon glyphicon-plus" id="course_detail_add_button_span_{{ course_element.pk }}"></span>
                                    </button>
                                    <button>
                                        <span class="glyphicon glyphicon-erase"></span>
                                    </button>
                                    </div>
                                </td>
                        </tr>
                        </tfoot>
                    </table>
                {% endfor %}

{% endblock %}


{% block scriptconnect %}
    <script src="{% static 'javascript/settings.js' %}" ></script>
{% endblock %}