<!DOCTYPE html>
{% load staticfiles %}
<html lang="html5">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}{% endblock %}
    <!— Bootstrap —>
{#    <link href="css/bootstrap.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/students_overview.css' %}">
    <link rel="stylesheet" href="{% static 'css/student_detail_view.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
    <script src="{% static 'javascript/commonFiles/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/commonFiles/constants.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/commonFiles/objectsEditing.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/commonFiles/addObject.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/commonFiles/deleteObject.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/commonFiles/animations.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/commonFiles/templates.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/commonFiles/common.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/commonFiles/config.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/base.js' %}" type="text/javascript"></script>
    {% block scriptconnect %}
    {% endblock %}
</head>

<body>
<div class="sidebar">
    <div class="login-info">
                <div class="circle" style="font-size: 20px; text-align: center; padding-top: 8px;">
                    {{ user_additional_info.person_name_txt|first }}{{ user_additional_info.person_surname_txt|first }}
                </div>

    </div>

    <div class="sidebar-element">
        <a href="/settings/"><span class="glyphicon glyphicon-cog"></span></a>
    </div>

    <div class="sidebar-element">
        <a href="/logout/" target="_self"><span class="fas fa-door-open"></span></a>
    </div>

    <hr style="width: 100%; border-width: 4px; margin: 0;" />

    <div class="sidebar-element">
        <a href="/"><span class="glyphicon glyphicon-list-alt"></span></a>
    </div>
    {% block common_list_sublevel %}
    {% endblock %}
    <div class="sidebar-element">
        <a href="/courses/"><span class="glyphicon glyphicon-tasks"></span></a>
    </div>
    <div class="sidebar-element">
        <a href="/teachers/"><span class="glyphicon glyphicon-briefcase"></span></a>
    </div>

    <div class="sidebar-element">
        <div class="dropdown">
            <a href="#" class="sidebar-element dropbtn"><span class="glyphicon glyphicon-option-horizontal"></span></a>
            <span class="hidden_panel">Утилиты</span>
            <div class="dropdown-content">
              <a href="/registration_requests/">Запросы на регистрацию</a>
              <a href="/students_requests/">Формы учеников</a>
                <a onclick="update_students_forms()">Загрузить формы с Google таблиц</a>
                <a onclick="update_google_info()">Обновить Google форму</a>
            </div>
        </div>
    </div>

    <div class="tooltip">
        ыыыыыы
        <span class="tooltiptext">Выход</span>

    </div>

{#    <div class="sidebar-element">#}
{#        <a href="/registration_requests/">1</a>#}
{##}
{#    </div>#}
{##}
{#    <div class="sidebar-element">#}
{#        <a href="/students_requests/">2</a>#}
{##}
{#    </div>#}


</div>

<div class="window-content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>