{% extends "base.html" %}
{% load static %}



{% block title %}
    <title xmlns:cellpadding="http://www.w3.org/1999/xhtml">{{ object.studentPerson.initials }}</title>
{% endblock %}

{% block content %}

    <script>
    var documents_list = {
        {% for document in documents_set %}
            {{ document.pk }}: new PersonPassportDataDBObject({
                id: {{ document.pk }},
                person_surname: "{{ document.person_surname_txt }}",
                person_name: "{{ document.person_name_txt }}",
                person_father_name: "{{ document.person_father_name_txt }}",
                authority_txt: "{{ document.authority_txt }}",
                document_type_txt: "{{ document.person_surname_txt }}",
                authority_no: "{{ document.authority_no }}",
                issue_dt_day: {{ document.issue_dt.day }},
                issue_dt_month: {{ document.issue_dt.month }},
                issue_dt_year: {{ document.issue_dt.year }},
                document_series: "{{ document.document_series }}",
                document_no: {{ document.document_no }}
            }){% if not forloop.last %},{% endif%}
        {%  endfor %}
    };

    let course_list = {
    {% for element in course_elements %}

    {% endfor %}
    };
    </script>

    <div id="csrf_token_div">
    {% csrf_token %}
    </div>

    <h2 style="color: black">
        {{ person.person_surname_txt }} {{ person.person_name_txt }} {{ person.person_father_name_txt }} ID: {{ person.pk }}
    </h2>

    <div style="display: inline-block; width: 100%" >
{#                <table class="table main-table" id="first-table" style="height: 100px; width: 100%">#}
                <table class="table main-table" id="first-table" style="width: 100%">
                    <thead>
                    <tr style="color: #f1f1f1">
                        <td> Фамилия </td>
                        <td> Имя </td>
                        <td> Отчество </td>
                        <td> Дата рождения </td>
                        <td> Начало учебы </td>
                        <td> Школа </td>
                        <td style="width: 50px;">Литер</td>
                        <td style="width: 80px;"></td>
                    </tr>
                    </thead>
                    <tr style="" id="student_row_{{ person.pk }}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ person.pk }}" readonly>
                        <td><input type="text" name="person.person_surname_txt" value="{{ person.person_surname_txt }}" style="width: 100%; border-width: 0;" readonly/></td>
                        <td><input type="text" name="person.person_name_txt" value="{{ person.person_name_txt }}" style="width: 100%; border-width: 0;" readonly/></td>
                        <td><input type="text" name="person.person_father_name_txt" value="{{ person.person_father_name_txt }}" style="width: 100%; border-width: 0;" readonly/></td>
                        <td><input type="text" name="person.birth_dt_day" value="{{ person.birth_dt.day }}" style="border-width: 0; width: 18px; border-width: 0;" readonly/>-
                        <input type="text" name="person.birth_dt_month" value="{{ person.birth_dt.month }}" style="border-width: 0; width: 18px; border-width: 0;" readonly/>-
                        <input type="text" name="person.birth_dt_year" value="{{ person.birth_dt.year }}" style="border-width: 0; width: 33px; border-width: 0;" readonly/></td>
                        <td><input type="text" name="education_start_year_day" value="{{ student_person.education_start_year.day }}" style="border-width: 0; width: 18px; border-width: 0;" readonly/>-
                        <input type="text" name="education_start_year_month" value="{{ student_person.education_start_year.month }}" style="border-width: 0; width: 18px; border-width: 0;" readonly/>-
                        <input type="text" name="education_start_year_year" value="{{ student_person.education_start_year.year }}" style="border-width: 0; width: 33px; border-width: 0;" readonly/></td>
                        <td><input type="text" name="school_name_txt" value="{{ student_person.school_name_txt }}" style="width: 100%; border-width: 0;" readonly/></td>
                        <td><input type="text" name="liter" value="{{ student_person.liter }}" style="width: 18px; border-width: 0;" readonly/></td>
                        <td>
                            <button type="submit" onclick="enableEditObjectMode('student', {{ person.pk }})" id="student_data_button_{{ person.pk }}">
                                                <span class="glyphicon glyphicon-pencil" id="student_data_button_span_{{ person.pk }}"></span>
                                            </button>
                            <button type="submit"><span class="glyphicon glyphicon-time"></span></button>
                        </td>
                    </tr>
                </table>
    </div>
    <div style="margin-top: 3%; width: 100%; float: left;">
        <h3 style="color: black; ">Договоры</h3>
    </div>
    <button type="submit" style="display: inline-block"> <span class="glyphicon glyphicon-time"></span></button>
    <table class="table main-table contracts-table" style="width: 100%">
        <colgroup>
            <col style="width: 45px">
            <col style="width: 45px">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <td colspan="2">Общие данные</td>
                <td colspan="3">Потребитель</td>
                <td colspan="3">Плательщик</td>
            </tr>
        </thead>
        {% for contract, contract_payments in contracts %}
            <tr id="contract_tr_main_{{ contract.pk }}">
                <td colspan="2">
                    <div>
                        <div class="non-editing-field-container">
                            <div class="main-contract-data-box" style="">
                                <div style="display: inline-block; width: 98%;">
                                    {{ contract.course_element.course.sphere_txt }}
                                </div>
                                <div style="display: inline-block; width: 98%;">
                                    {{ contract.course_element.course.name_txt }}
                                </div>
                                <div style="display: inline-block; width: 98%;">
                                    {{ contract.course_element.course.short_nm }}
                                </div>
                                <div style="display: inline-block; width: 98%;">
                                     {{ contract.course_element.course.price_per_hour }} руб - {{ contract.course_element.course.number_of_hours }} ч - in develop
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="editing-field-container" style="width: 200px">
                        <div class="main-contract-data-box" id="contract_course_element_row_{{ contract.pk }}">
                        <div style="display: inline-block; width: 98%;">
                            <form action="" method="post" id="contract_course_element_data_form_{{ contract.pk }}" name="contract_course_element_data_form_{{ contract.pk }}">
                                {% csrf_token %}
                            <input type="hidden" name="id" value="{{ contract.pk }}">
                                <select name="course_element_id" style="width: 100%; border-width: 0; -webkit-appearance:none; background-color: #3b5998" disabled>
                                    {% for course, course_elements in courses %}
                                        {% if course == contract.course_element.course %}
                                            {% for course_element in course_elements %}
                                                <option value="{{ course_element.pk }}" {% if course_element == contract.course_element %}selected{% endif %}>
                                                    {{ course_element.teacher_person.get_surname_and_initials }} {{ course_element.get_week_days_str }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                        <button style="background-color: #3b5998; height: 40px;" onclick="enableEditObjectMode('contract_course_element', {{ contract.pk }})" id="contract_course_element_data_button_{{ contract.pk }}">
                            <span class="glyphicon glyphicon-pencil" id="contract_course_element_data_button_span_{{ contract.pk }}"/>
                        </button>
                    </div>

                    <button class="long-button" style="margin-left: 0">
                            <span class="glyphicon glyphicon-print"/>
                        </button>

                    <button class="long-button" onclick="delete_object('contract', {{ contract.pk }})">
                            <span class="glyphicon glyphicon-remove"/>
                        </button>

                    <button class="long-button">
                        <a href="/contract/5/">
                            <span class="glyphicon glyphicon-time"/>
                            </a>
                        </button>

                    <button class="long-button" onclick="toggleInfoTab('contract', {{ contract.pk }})">
                            <span id="contract_row_more_info_button_span_{{ contract.pk }}" class="glyphicon glyphicon-arrow-down" />
                        </button>
                </td>
                <td colspan="3">

                    <div class="editing-field-container" id="person_document_row_{{ contract.student_document.pk }}">
                        <div class="passport-data-box" id="person_document_data_{{ contract.student_document.pk }}">
                            <form action="" method="post" id="person_document_data_form_{{ contract.student_document.pk }}" name="person_document_data_form_{{ contract.student_document.pk }}">
                                {% csrf_token %}

                                <input type="hidden" name="id" value="{{ contract.student_document.pk }}">
                                <input type="text" name="person_surname_txt" value="{{ contract.student_document.person_surname_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)" readonly/>
                                <input type="text" name="person_name_txt" value="{{ contract.student_document.person_name_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)" readonly/>
                                <input type="text" name="person_father_name_txt" value="{{ contract.student_document.person_father_name_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)" readonly/>
                                <input type="text" name="authority_txt" value="{{ contract.student_document.authority_txt }}" style="background-color: #3b5998; border-width: 0; width: 100%" readonly/>
                                <input type="text" name="document_type_txt" value="{{ contract.student_document.document_type_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 314px)" readonly/>
                                <input type="text" name="authority_no" value="{{ contract.student_document.authority_no }}" style="background-color: #3b5998; border-width: 0; width: 60px" readonly/>
{#                                <input type="date" name="fsdfd" style="color: black">#}
                                <input type="text" name="issue_dt_day" value="{{ contract.student_document.issue_dt.day }}" style="background-color: #3b5998; border-width: 0; width: 16px; margin-left: 20px" readonly/>-
                                <input type="text" name="issue_dt_month" value="{{ contract.student_document.issue_dt.month }}" style="background-color: #3b5998; border-width: 0; width: 16px" readonly/>-
                                <input type="text" name="issue_dt_year" value="{{ contract.student_document.issue_dt.year }}" style="background-color: #3b5998; border-width: 0; width: 33px" readonly/>

                                <input type="text" name="document_series" value="{{ contract.student_document.document_series }}" style="background-color: #3b5998; border-width: 0; width: 33px; margin-left: 20px" readonly/>
                                <input type="text" name="document_no" value="{{ contract.student_document.document_no }}" style="background-color: #3b5998; border-width: 0; width: 50px" readonly/>
                            </form>
                        </div>

                        <button style="background-color: #3b5998; height: 89px;" onclick="enableEditObjectMode('person_document', {{ contract.student_document.pk }})" id="person_document_data_button_{{ contract.student_document.pk }}">
                            <span class="glyphicon glyphicon-pencil" id="person_document_data_button_span_{{ contract.student_document.pk }}"/>
                        </button>
                    </div>


                    <div class="editing-field-container" id="person_home_address_row_{{ contract.student_address.pk }}">
                        <div class="address-data-box" id="person_home_address_data_{{ contract.student_address.pk }}">
                            <form action="" method="post" id="person_home_address_data_form_{{ contract.student_address.pk }}" name="person_home_address_data_form_{{ contract.student_address.pk }}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ contract.student_address.pk }}">
                                <select name="region_cd" style="background-color: #3b5998; border-width: 0; width: 150px; -webkit-appearance:none;">
                                    {% for i, j in regions.items %}
                                        <option value="{{ i }}" {% if i == contract.student_address.region_cd %}selected{% endif %}>{{ j }}</option>
                                    {% endfor %}
                                </select>
{#                                <input type="text" name="region_cd" value="лист регионов" style="background-color: #3b5998; border-width: 0; width: 150px" readonly/>#}
                                <input type="text" name="city_txt" value="{{ contract.student_address.city_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 160px)" readonly/>
                                <input type="text" name="street_txt" value="{{ contract.student_address.street_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 194px)" readonly/>
                                <input type="text" name="house_txt" value="{{ contract.student_address.house_txt }}" style="background-color: #3b5998; border-width: 0; width: 40px" readonly/>-
                                <input type="text" name="building_no" value="{% if contract.student_address.building_no %} {{ contract.student_address.building_no }} {% endif %}" style="background-color: #3b5998; border-width: 0; width: 40px" readonly/>-
                                <input type="text" name="structure_no" value="{% if contract.student_address.structure_no %} {{ contract.student_address.structure_no }} {% endif %}" style="background-color: #3b5998; border-width: 0; width: 40px" readonly/>-
                                <input type="text" name="flat_nm" value="{% if contract.student_address.flat_nm %}{{ contract.student_address.flat_nm }}{% endif %}" style="background-color: #3b5998; border-width: 0; width: 40px" readonly/>
                            </form>
                        </div>
                        <button style="background-color: #3b5998; height: 65px;" onclick="enableEditObjectMode('person_home_address', {{ contract.student_address.pk }})" id="person_home_address_data_button_{{ contract.student_address.pk }}">
                            <span class="glyphicon glyphicon-pencil" id="person_home_address_data_button_span_{{ contract.student_address.pk }}"/>
                        </button>
                    </div>

                    <div class="editing-field-container" id="contract_student_phone_row_{{ contract.pk }}">
                        <div class="one-field-data-box" id="contract_student_phone_data_{{ contract.pk }}">
                            <form action="" method="post" id="contract_student_phone_data_form_{{ contract.pk }}" name="contract_student_phone_data_form_{{ contract.pk }}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ contract.pk }}">
                                +<input type="text" name="student_phone_no" value="{{ contract.student_phone_no }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 9px)" readonly/>
                            </form>
                        </div>
                        <button style="background-color: #3b5998; height: 40px;" onclick="enableEditObjectMode('contract_student_phone', {{ contract.pk }})" id="contract_student_phone_data_button_{{ contract.pk }}">
                            <span class="glyphicon glyphicon-pencil" id="contract_student_phone_data_button_span_{{ contract.pk }}"/>
                        </button>
                    </div>
                </td>
                <td colspan="3">
                    <div class="editing-field-container" id="person_document_row_{{ contract.payer_document.pk }}">
                        <div class="passport-data-box" id="person_document_data_{{ contract.payer_document.pk }}">
                            <form action="" method="post" id="person_document_data_form_{{ contract.payer_document.pk }}" name="person_document_data_form_{{ contract.payer_document.pk }}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ contract.payer_document.pk }}">
                                <input type="text" name="person_surname_txt" value="{{ contract.payer_document.person_surname_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)" readonly/>
                                <input type="text" name="person_name_txt" value="{{ contract.payer_document.person_name_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)" readonly/>
                                <input type="text" name="person_father_name_txt" value="{{ contract.payer_document.person_father_name_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)" readonly/>
                                <input type="text" name="authority_txt" value="{{ contract.payer_document.authority_txt }}" style="background-color: #3b5998; border-width: 0; width: 100%" readonly/>
                                <input type="text" name="document_type_txt" value="{{ contract.payer_document.document_type_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 314px)" readonly/>
                                <input type="text" name="authority_no" value="{{ contract.payer_document.authority_no }}" style="background-color: #3b5998; border-width: 0; width: 90px" readonly/>
                                <input type="text" name="issue_dt_day" value="{{ contract.payer_document.issue_dt.day }}" style="background-color: #3b5998; border-width: 0; width: 16px; margin-left: 20px" readonly/>-
                                <input type="text" name="issue_dt_month" value="{{ contract.payer_document.issue_dt.month }}" style="background-color: #3b5998; border-width: 0; width: 16px" readonly/>-
                                <input type="text" name="issue_dt_year" value="{{ contract.payer_document.issue_dt.year }}" style="background-color: #3b5998; border-width: 0; width: 33px" readonly/>
                                <input type="text" name="document_series" value="{{ contract.payer_document.document_series }}" style="background-color: #3b5998; border-width: 0; width: 33px; margin-left: 20px" readonly/>
                                <input type="text" name="document_no" value="{{ contract.payer_document.document_no }}" style="background-color: #3b5998; border-width: 0; width: 50px" readonly/>
                            </form>
                        </div>

                        <button style="background-color: #3b5998; height: 89px;" onclick="enableEditObjectMode('person_document', {{ contract.payer_document.pk }})" id="person_document_data_button_{{ contract.payer_document.pk }}">
                            <span class="glyphicon glyphicon-pencil" id="person_document_data_button_span_{{ contract.payer_document.pk }}"/>
                        </button>
                    </div>

                    <div class="editing-field-container" id="person_home_address_row_{{ contract.payer_address.pk }}">
                        <div class="address-data-box" id="person_home_address_data_{{ contract.payer_address.pk }}">
                            <form action="" method="post" id="person_home_address_data_form_{{ contract.payer_address.pk }}" name="person_home_address_data_form_{{ contract.payer_address.pk }}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ contract.payer_address.pk }}">
                                <select name="region_cd" style="background-color: #3b5998; border-width: 0; width: 150px; -webkit-appearance:none;">
                                    {% for i, j in regions.items %}
                                        <option value="{{ i }}" {% if i == contract.payer_address.region_cd %}selected{% endif %}>{{ j }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" name="city_txt" value="{{ contract.payer_address.city_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 160px)" readonly/>
                                <input type="text" name="street_txt" value="{{ contract.payer_address.street_txt }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 194px)" readonly/>
                                <input type="text" name="house_txt" value="{{ contract.payer_address.house_txt }}" style="background-color: #3b5998; border-width: 0; width: 40px" readonly/>-
                                <input type="text" name="building_no" value="{% if contract.payer_address.building_no %} {{ contract.payer_address.building_no }} {% endif %}" style="background-color: #3b5998; border-width: 0; width: 40px" readonly/>-
                                <input type="text" name="structure_no" value="{% if contract.payer_address.structure_no %} {{ contract.payer_address.structure_no }} {% endif %}" style="background-color: #3b5998; border-width: 0; width: 40px" readonly/>-
                                <input type="text" name="flat_nm" value="{% if contract.payer_address.flat_nm %}{{ contract.payer_address.flat_nm }}{% endif %}" style="background-color: #3b5998; border-width: 0; width: 40px" readonly/>
                            </form>
                        </div>
                        <button style="background-color: #3b5998; height: 65px;" onclick="enableEditObjectMode('person_home_address', {{ contract.payer_address.pk }})" id="person_home_address_data_button_{{ contract.payer_address.pk }}">
                            <span class="glyphicon glyphicon-pencil" id="person_home_address_data_button_span_{{ contract.payer_address.pk }}"/>
                        </button>
                    </div>

                    <div class="editing-field-container" style="width: calc(50% - 3px); float: left; margin-right: 6px;" id="contract_payer_phone_row_{{ contract.pk }}">
                        <div class="one-field-data-box" id="contract_payer_phone_data_{{ contract.pk }}">
                            <form action="" method="post" id="contract_payer_phone_data_form_{{ contract.pk }}" name="contract_payer_phone_data_form_{{ contract.pk }}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ contract.pk }}">
                                +<input type="text" name="payer_phone_no" value="{{ contract.payer_phone_no }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 9px)" readonly/>
                            </form>
                        </div>
                        <button style="background-color: #3b5998; height: 40px;" onclick="enableEditObjectMode('contract_payer_phone', {{ contract.pk }})" id="contract_payer_phone_data_button_{{ contract.pk }}">
                            <span class="glyphicon glyphicon-pencil" id="contract_payer_phone_data_button_span_{{ contract.pk }}"/>
                        </button>
                    </div>

                    <div class="editing-field-container" style="width: calc(50% - 3px)" id="contract_payer_inn_row_{{ contract.pk }}">
                        <div class="one-field-data-box" id="contract_payer_inn_data_{{ contract.pk }}">
                            <form action="" method="post" id="contract_payer_inn_data_form_{{ contract.pk }}" name="contract_payer_inn_data_form_{{ contract.pk }}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ contract.pk }}">
                                <input type="text" name="payer_inn_no" value="{{ contract.payer_inn_no }}" style="background-color: #3b5998; border-width: 0; width: calc(100% - 9px)" readonly/>
                            </form>
                        </div>
                        <button style="background-color: #3b5998; height: 40px;" onclick="enableEditObjectMode('contract_payer_inn', {{ contract.pk }})" id="contract_payer_inn_data_button_{{ contract.pk }}">
                            <span class="glyphicon glyphicon-pencil" id="contract_payer_inn_data_button_span_{{ contract.pk }}"/>
                        </button>
                    </div>
                </td>
            </tr>
            <tr id="contract_row_more_info_{{ contract.pk }}" hidden="true">
{#                <div id="payments_{{ contract.pk }}" style="display: none; padding: 5px;">#}
                    <td colspan="8">
                        <table class="table main-table" style="width: 100%" id="payment_table_{{ contract.pk }}">
                            <thead>
                                <tr>
                                    <td style="width: 110px;">Дата оплаты</td>
                                    <td>Размер оплаты</td>
                                    <td>Тип оплаты</td>
                                    <td>Номер квитанции</td>
                                    <td style="width: 110px;">
                                    <button style="background-color: white; color: #3b5998"> <span class="glyphicon glyphicon-time"></span> </button></td>
                                </tr>
                            </thead>

                            {% for payment in contract_payments %}
                                <tr id="payment_row_{{ payment.pk }}">
                                    <form action="" method="post" id="payment_data_form_{{ payment.pk }}" name="payment_data_form_{{ payment.pk }}">
                                        <td>
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ payment.pk }}">
                                            <input type="text" name="payment_dt_day" value="{{ payment.payment_dt.day }}" style="border-width: 0; width: 18px;" readonly/>-
                                            <input type="text" name="payment_dt_month" value="{{ payment.payment_dt.month }}" style="border-width: 0; width: 18px" readonly/>-
                                            <input type="text" name="payment_dt_year" value="{{ payment.payment_dt.year }}" style="border-width: 0; width: 33px" readonly/>
                                        </td>
                                        <td>
                                            <input type="text" name="payment_amt" value="{{ payment.payment_amt }}" style="border-width: 0; width: 100%;" readonly/>
                                        </td>
                                        <td>
                                            <select name="payment_type" style="border-width: 0; width: 100%;">
{#                                            <select name="payment_type" style="border-width: 0; width: 100%; -webkit-appearance:none;">#}
                                                {% for i, j in payment_types.items %}
                                                    <option value="{{ i }}" {% if i == payment.payment_type %}selected{% endif %}>{{ j }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" name="voucher_no" value="{{ payment.voucher_no }}" style="border-width: 0; width: 100%;" readonly/></td>
                                    </form>
                                        <td>
                                            <button id="payment_data_button_{{ payment.pk }}" onclick="enableEditObjectMode('payment', {{ payment.pk }})">
                                                <span class="glyphicon glyphicon-pencil" id="payment_data_button_span_{{ payment.pk }}"></span>
                                            </button>
                                            <button type="submit"><span class="glyphicon glyphicon-time"></span></button>
                                            <button onclick="delete_object('payment', {{ payment.pk }})"><span class="glyphicon glyphicon-remove"></span></button>
                                        </td>



                                </tr>
                            {% endfor %}
                            <tfoot>
                                <tr id="payment_add_row_{{ contract.pk }}">
                                    <form action="" method="post" id="payment_add_form_{{ contract.pk }}" name="payment_add_form_{{ contract.pk }}">
                                        <td>
                                            <div id="payment_add_div_csrf_token_{{ contract.pk }}" hidden="true">
                                                {% csrf_token %}
                                            </div>
                                            <input type="hidden" name="contract_id" value="{{ contract.pk }}">
                                            <input type="text" name="payment_dt_day" id="new_payment_issue_dt_day" style="border-width: 0; width: 18px;"/>-
                                            <input type="text" name="payment_dt_month" id="new_payment_issue_dt_month" style="border-width: 0; width: 18px"/>-
                                            <input type="text" name="payment_dt_year" id="new_payment_issue_dt_year" style="border-width: 0; width: 33px"/>
                                        </td>
                                        <td>
                                            <input type="text" name="payment_amt" id="new_payment_payment_amt" style="border-width: 0; width: 100%;"/>
                                        </td>
                                        <td>
                                            <select name="payment_type" id="new_payment_payment_type" style="border-width: 0; width: 100%; -webkit-appearance:none;">
                                                {% for i, j in payment_types.items %}
                                                    <option value="{{ i }}">{{ j }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" name="voucher_no" id="new_payment_voucher_no" style="border-width: 0; width: 100%;"/></td>
                                    </form>
                                        <td>
                                            <button type="submit" id="payment_add_button_{{ contract.pk }}" onclick="addNewObject('payment', {{ contract.pk }})">
                                                <span class="glyphicon glyphicon-plus" id="payment_add_button_span_{{ contract.pk }}"></span>
                                            </button>
                                        </td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
{#                </div>#}
            </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <form action="/api/add/contract/" method="post">
                <td colspan="2">
                    <div>
                        <div class="non-editing-field-container">
                            <div class="main-contract-data-box" style="width: 200px">
                                {% csrf_token %}
                                <select name="course_element" style="width: 100%; border-width: 0; -webkit-appearance:none; background-color: #3b5998">
                                    <option disabled selected>Выберите элемент</option>
                                    {% for i in courses %}
                                        {% if i.1.length != 0 %}
                                            <option value="{{ i.0.pk }}" disabled>{{ i.0.sphere_txt }} - {{ i.0.name_txt }}</option>
                                            {% for j in i.1 %}
                                                <option value="{{ j.pk }}">{{ j.teacher_person.get_surname_and_initials }} {{ j.get_week_days_str }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="hidden" name="student_id" value="{{ student_person.person_id }}">
                                +<input type="text" name="student_phone_no" placeholder="Телефон ученика" style="background-color: #3b5998; border-width: 0; width: calc(100% - 9px)"/>
                                +<input type="text" name="payer_phone_no" placeholder="Телефон плательщика" style="background-color: #3b5998; border-width: 0; width: calc(100% - 9px)"/>
                                <input type="text" name="payer_inn_no" placeholder="ИНН плательщика" style="background-color: #3b5998; border-width: 0; width: calc(100% - 9px)"/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" style="background-color: #3b5998; height: 45px; margin-top: 5px; width: 100%">
                            <span class="glyphicon glyphicon-plus"/>
                        </button>
                </td>
                <td colspan="3">
                    <div class="passport-data-box" id="contract_add_document_data_student" style="margin-top: 5px;">
                                <input type="text" name="person_surname_txt" placeholder="Фамилия" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)"/>
                                <input type="text" name="person_name_txt" placeholder="Имя" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)"/>
                                <input type="text" name="person_father_name_txt" placeholder="Отчество" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)"/>
                                <input type="text" name="authority_txt" placeholder="Кем выдан" style="background-color: #3b5998; border-width: 0; width: 100%"/>
                                <input type="text" name="document_type_txt" placeholder="Тип документа" style="background-color: #3b5998; border-width: 0; width: calc(100% - 314px)"/>
                                <input type="text" name="authority_no" placeholder="Номер подразделения" style="background-color: #3b5998; border-width: 0; width: 90px"/>
                                <input type="text" name="issue_dt_day" placeholder="ДД" style="background-color: #3b5998; border-width: 0; width: 16px; margin-left: 20px"/>-
                                <input type="text" name="issue_dt_month" placeholder="ММ" style="background-color: #3b5998; border-width: 0; width: 16px"/>-
                                <input type="text" name="issue_dt_year" placeholder="ГГГГ" style="background-color: #3b5998; border-width: 0; width: 33px"/>
                                <input type="text" name="document_series" placeholder="Серия" style="background-color: #3b5998; border-width: 0; width: 33px; margin-left: 20px"/>
                                <input type="text" name="document_no" placeholder="Номер" style="background-color: #3b5998; border-width: 0; width: 50px"/>
                    </div>
                    <div class="address-data-box" id="contract_add_address_data_student" style="margin-top: 5px;">
                                <select name="region_cd" style="background-color: #3b5998; border-width: 0; width: 150px; -webkit-appearance:none;" onclick="return false;">
                                    <option disabled selected>Регион</option>
                                    {% for i, j in regions.items %}
                                        <option value="{{ i }}">{{ j }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" name="city_txt" placeholder="Город" style="background-color: #3b5998; border-width: 0; width: calc(100% - 160px)"/>
                                <input type="text" name="street_txt" placeholder="Улица" style="background-color: #3b5998; border-width: 0; width: calc(100% - 194px)"/>
                                <input type="text" name="house_txt" placeholder="Дом" style="background-color: #3b5998; border-width: 0; width: 40px"/>-
                                <input type="text" name="building_no" placeholder="Строение" style="background-color: #3b5998; border-width: 0; width: 40px"/>-
                                <input type="text" name="structure_no" placeholder="Корпус" style="background-color: #3b5998; border-width: 0; width: 40px"/>-
                                <input type="text" name="flat_nm" placeholder="Квартира" style="background-color: #3b5998; border-width: 0; width: 40px"/>
                    </div>
                </td>
                <td colspan="3">
                    <div class="passport-data-box" id="contract_add_document_data_payer" style="margin-top: 5px;">
                                <input type="text" name="person_surname_txt" placeholder="Фамилия" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)"/>
                                <input type="text" name="person_name_txt" placeholder="Имя" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)"/>
                                <input type="text" name="person_father_name_txt" placeholder="Отчество" style="background-color: #3b5998; border-width: 0; width: calc(33% - 2px)"/>
                                <input type="text" name="authority_txt" placeholder="Кем выдан" style="background-color: #3b5998; border-width: 0; width: 100%"/>
                                <input type="text" name="document_type_txt" placeholder="Тип документа" style="background-color: #3b5998; border-width: 0; width: calc(100% - 314px)"/>
                                <input type="text" name="authority_no" placeholder="Номер подразделения" style="background-color: #3b5998; border-width: 0; width: 90px"/>
                                <input type="text" name="issue_dt_day" placeholder="ДД" style="background-color: #3b5998; border-width: 0; width: 16px; margin-left: 20px"/>-
                                <input type="text" name="issue_dt_month" placeholder="ММ" style="background-color: #3b5998; border-width: 0; width: 16px"/>-
                                <input type="text" name="issue_dt_year" placeholder="ГГГГ" style="background-color: #3b5998; border-width: 0; width: 33px"/>
                                <input type="text" name="document_series" placeholder="Серия" style="background-color: #3b5998; border-width: 0; width: 33px; margin-left: 20px"/>
                                <input type="text" name="document_no" placeholder="Номер" style="background-color: #3b5998; border-width: 0; width: 50px"/>

                    </div>
                    <div class="address-data-box" id="contract_add_address_data_payer" style="margin-top: 5px;">
                                <select name="region_cd" style="background-color: #3b5998; border-width: 0; width: 150px; -webkit-appearance:none;" onclick="return false;">
                                    <option disabled selected>Регион</option>
                                    {% for i, j in regions.items %}
                                        <option value="{{ i }}">{{ j }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" name="city_txt" placeholder="Город" style="background-color: #3b5998; border-width: 0; width: calc(100% - 160px)"/>
                                <input type="text" name="street_txt" placeholder="Улица" style="background-color: #3b5998; border-width: 0; width: calc(100% - 194px)"/>
                                <input type="text" name="house_txt" placeholder="Дом" style="background-color: #3b5998; border-width: 0; width: 40px"/>-
                                <input type="text" name="building_no" placeholder="Строение" style="background-color: #3b5998; border-width: 0; width: 40px"/>-
                                <input type="text" name="structure_no" placeholder="Корпус" style="background-color: #3b5998; border-width: 0; width: 40px"/>-
                                <input type="text" name="flat_nm" placeholder="Квартира" style="background-color: #3b5998; border-width: 0; width: 40px"/>
                    </div>
                </td>
                </form>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block common_list_sublevel %}
    <div class="portfolio_element" style="background-color: #8b9dc3">
        <span class="far fa-address-card"></span>
    </div>
{% endblock %}