{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ object.studentPerson.initials }}</title>
{% endblock %}

{% block content %}

    <h2 style="color: black">
        {{ person.person_surname_txt }} {{ person.person_name_txt }} {{ person.person_father_name_txt }} ID: {{ person.pk }}
    </h2>

    <div>
        [добавить редактирование, привести в нормальный вид с синим фоном]
    </div>

    <div style="display: inline-block">
        <table class="table main-table" style="width: 350px;">
            <tr>
                <td> Фамилия </td>
                <td> {{ person.person_surname_txt }} </td>
            </tr>
            <tr>
                <td> Имя </td>
                <td> {{ person.person_name_txt }} </td>
            </tr>
            <tr>
                <td> Отчество </td>
                <td> {{ person.person_father_name_txt }} </td>
            </tr>
            <tr>
                <td> Дата рождения </td>
                <td> {{ person.birth_dt }} </td>
            </tr>
        </table>
    </div>

    <div style="display: inline-block">
        <table class="table main-table" style="width: 350px">
            <tr>
                <td> Дата начала учебы </td>
                <td> {{ student_person.education_start_year }} </td>
            </tr>
            <tr>
                <td> Школа </td>
                <td> {{ student_person.school_name_txt }} </td>
            </tr>
            <tr>
                <td> Литер класса </td>
                <td> {{ student_person.liter }} </td>
            </tr>
        </table>
    </div>

    <h3 style="color: black; width: 100%">Договоры</h3>

    <table class="table main-table" style="width: 100%">
        <thead>
            <tr>
                <td>Общие данные</td>
                <td>Потребитель</td>
                <td>Плательщик</td>
                <td></td>
            </tr>
        </thead>
        {% for contract in contracts %}
            <tr>
                <td>
                    <div class="main-contract-data-box" style="width: 200px">
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.course_element.course.sphere_txt }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.course_element.course.name_txt }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.course_element.course.short_nm }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            Цена в час: {{ contract.course_element.course.price_per_hour }} руб
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            Кол-во часов: {{ contract.course_element.course.number_of_hours }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            Итого к оплате: in develop
                        </div>
                    </div>

                    <div class="main-contract-data-box" style="width: 200px">
                        <div style="display: inline-block; width: 98%;">
                            список: {{ contract.course_element }}
                        </div>
                    </div>

                    [выше с редактированием]<br>
                    [кнопка развернуть список оплаты]
                </td>
                <td>
                    <div class="passport-data-box">
                        <div style="display: inline-block; width: 32%;">
                            {{ contract.student_document.person_surname_txt }}
                        </div>
                        <div style="display: inline-block; width: 32%;">
                            {{ contract.student_document.person_name_txt }}
                        </div>
                        <div style="display: inline-block; width: 32%;">
                            {{ contract.student_document.person_father_name_txt }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.student_document.authority_txt }}
                        </div>
                        <div style="display: inline-block; width: 33%;">
                            {{ contract.student_document.document_type_txt }}
                        </div>
                        <div style="display: inline-block; width: 30%;">
                            {{ contract.student_document.authority_no }}
                        </div>
                        <div style="display: inline-block; width: 33%;">
                            {{ contract.student_document.issue_dt }}
                        </div>
                    </div>

                    <div class="passport-data-box">
                        <div style="display: inline-block; width: 98%;">
                            лист регионов
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.student_address.city_txt }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.student_address.street_txt }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.student_address.house_txt }} - {{ contract.student_address.building_no }} - {{ contract.student_address.structure_no }} - {{ contract.student_address.flat_nm }}
                        </div>
                    </div>

                    <div class="one-field-data-box" style="width: 49%">
                        <div style="display: inline-block; width: 98%;">
                            +{{ contract.student_phone_no }}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="passport-data-box">
                        <div style="display: inline-block; width: 32%;">
                            {{ contract.payer_document.person_surname_txt }}
                        </div>
                        <div style="display: inline-block; width: 32%;">
                            {{ contract.payer_document.person_name_txt }}
                        </div>
                        <div style="display: inline-block; width: 32%;">
                            {{ contract.payer_document.person_father_name_txt }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.payer_document.authority_txt }}
                        </div>
                        <div style="display: inline-block; width: 33%;">
                            {{ contract.payer_document.document_type_txt }}
                        </div>
                        <div style="display: inline-block; width: 30%;">
                            {{ contract.payer_document.authority_no }}
                        </div>
                        <div style="display: inline-block; width: 33%;">
                            {{ contract.payer_document.issue_dt }}
                        </div>
                    </div>

                    <div class="passport-data-box">
                        <div style="display: inline-block; width: 98%;">
                            лист регионов
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.payer_address.city_txt }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.payer_address.street_txt }}
                        </div>
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.payer_address.house_txt }} - {{ contract.payer_address.building_no }} - {{ contract.payer_address.structure_no }} - {{ contract.payer_address.flat_nm }}
                        </div>
                    </div>

                    <div class="one-field-data-box" style="width: 40%; display: inline-block;">
                        <div style="display: inline-block; width: 98%;">
                            +{{ contract.student_phone_no }}
                        </div>
                    </div>

                    <div class="one-field-data-box" style="width: 40%; display: inline-block;">
                        <div style="display: inline-block; width: 98%;">
                            {{ contract.payer_inn_no }}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{#{% block headercenter %}#}
{#    <li><a href="{% url 'CSPCApp_student_list' %}">Ученики</a></li>#}
{#    <li><a href="{% url 'CSPCApp_student_list' %}">Ученики</a></li>#}
{#    <li>{{ object.studentPerson.initials }}</li>#}
{#{% endblock %}#}

{% block cautions %}
    <div style="z-index: 7;margin-left: 130px; display: inline-block">
        <div class="breadcrumb" style="background-color: rgba(0, 0, 0, 0.2); font-size:12pt; margin: 0px;">
                <li>
                    <div style="height: 23px;">

                        <a href="{{ object.get_update_url }}"  name="typing" value="save" class="buttonstyle" style="background-color: rgba(255, 0, 0, 0.0); width: 200px">Редактировать</a>
                    </div>
                </li>
        </div>
   </div>
{% endblock %}

{% block common_list_sublevel %}
    <div class="sidebar-element" style="background-color: #8b9dc3">
        Просмотр персоны
    </div>
{% endblock %}