<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Список Учителей</title>
{% endblock %}




{% block content %}
    <table class="table main-table" style="width: calc(100% - 280px); float: left">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col width="80px">
        </colgroup>
        <thead>
            <tr>
                <td>Ф.И.О. учителя</td>
                <td>Место работы</td>
                <td>Количество учеников</td>
                <td>Количество курсов</td>
                <td>Часов работы</td>
                <td></td>
            </tr>
        </thead>
        {% for student in students_list %}
            <tr>
                <td>
                    {{ student.person_surname_txt }} {{ student.person_name_txt }}
                    {{ student.person_father_name_txt }}
                </td>
                <td>{{ student.school_name_txt }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a href="/student/detail/{{ student.person_id }}/" class="smallsquarebutton" target="_self">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="{{object.get_update_url}}" class="smallsquarebutton" target="_self">
                            <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="search-box">
        <form method="GET">
            <h3>Поиск</h3>
            <input type="text" name="surname" value="{{ request_get.surname }}" placeholder="Фамилия"/>
            <input type="text" name="name" value="{{ request_get.name }}" placeholder="Имя"/>
            <input type="text" name="father_name" value="{{ request_get.father_name }}" placeholder="Отчество"/>
            <input type="text" name="school" value="{{ request_get.school }}" placeholder="Школа"/>
            <p>Паспорт:</p>
            <input type="text" name="document_series" value="{{ request_get.document_series }}" style="width: 60px; float: left; margin-right: 10px;" placeholder="Серия">
            <input type="text" name="document_no" value="{{ request_get.document_no }}" style="width: 93px;" placeholder="Номер">
            <table style="">
                <tr>
                    <td><button type="submit"><span class="glyphicon glyphicon-search"></span></button></td>
                    <td><a href="/"><span class="glyphicon glyphicon-remove"></span></a></td>
                    <td><button><span class="glyphicon glyphicon-plus"></span></button></td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}
